
*.xml
minion_detection_conv_net v2/.idea/misc.xml
*.xml
minion_detection_conv_net/py_pixel.py
minion_detection_conv_net v2/__pycache__/py_pixel.cpython-35.pyc
minion_detection_conv_net v2/__pycache__/py_pixel.cpython-35.pyc
minion_detection_conv_net/.idea/minion_detection_conv_net.v7.iml
*.xml
minion_detection_conv_net/__pycache__/CNNModel.cpython-35.pyc
minion_detection_conv_net/__pycache__/data_set.cpython-35.pyc
